<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>PORTONE INDEX PAGE</h1>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<button class="cert-btn">인증하기</button>
<button class="pay-btn">결제하기</button>


<script>
    //인증하기
    IMP.init("imp54210718");
        const certBtn = document.querySelector('.cert-btn');
        certBtn.addEventListener('click',()=>{

        console.log('certBtn clicked...');
        const date = new Date();

       IMP.certification({
                channelKey: "channel-key-42c99321-f7f9-4b8c-9fc5-931cd1bbc92b",
                merchant_uid: "test_"+date.toString(),
            }, function (resp){
                console.log(resp);
                const imp_uid = resp.imp_uid;
                //비동기 요청(axios)
                axios.get("/th/portOne/certifications/"+imp_uid)
                .then((resp_2)=>{
                    console.log("사용자 정보 조회" , resp_2)
                })
                .error(()=>{})
            });

        })
    //결제하기
     const payBtn = document.querySelector('.pay-btn');
    payBtn.addEventListener('click', ()=>{
    const date = new Date();
    const timeStamp = date.getTime();
    console.log('timeStamp', timeStamp);

    IMP.request_pay({
    channelKey: "channel-key-6cb03748-8ca1-4f31-a269-51659e867864",
    pay_method: "card",
    merchant_uid: "test_"+timeStamp,
    name: "초코파이",
    amount: 100,
    buyer_tel: "010-0000-0000",
  });
    })
</script>

<script>





</script>
</body>
</html>