<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>ThymeLeaf 실습입니다</title>
</head>
<body>
<main>

    <!-- 헤더 영역 가져오기-->
    <th:block th:insert="~{th/fragments/header::headerFragment}">

    </th:block>
<h1> Th: 속성값 가져오기</h1>
NAME:<span th:text="${name}"></span><br/>
DTO:<div th:text="${dto}"></div><br/>
DTO.ID: <span th:text=" ${dto.id}"></span><br/>
DTO.TEXT: <span th:text=" ${dto.text}"></span><br/>
DTO.WRITER: <span th:text=" ${dto.writer}"></span><br/>
<hr/>
<h2>Th: 분기문</h2>
<th:block th:if="${isAuth}">
    <div style="border:1px solid navy"> 로그인 상태입니다.</div>

</th:block>

<th:block th:unless="${isAuth}">
    <div style="border:1px solid navy"> 로그아웃 상태입니다.</div>

</th:block>
<h2>Th: 반복문</h2>
<th:block th:each="dto:${list}" style="border:2px solid navy">
    <div th:text="${dto}"  ></div>

</th:block>
<hr/>
<h2>Th: A TAG</h2>
<a th:href="@{/memo/param1(id=${dto.id},text=${dto.text},writer=${dto.writer})}">/MEMO/PARAM1</a><br/>
<a th:href="@{/memo/param2({id}/{text}/{writer}(id=${dto.id},text=${dto.text},writer=${dto.writer})}">/MEMO/PARAM2</a><br/>

    <div  th:insert="~{th/fragments/footer::footerFragment-1}">
    </div>

    <div  th:replace="~{th/fragments/footer::footerFragment-2}">
    </div>

<script th:inlne >
    const name =[[${name}]]
    console.log('name',name)

    const name1 = [[${dto}]]
    console.log('dto', name1)

    const list = [[${list}]]
    console.log('list',list)
</script>

</main>
</body>
</html>